/*
 * This file overrides several Bootstrap's styles
 * or provides custom ones for various pages
 */

.navbar-logo {
    height: 20px;
    width: 20px;
    margin-top: -2px;
}

.jumbotron {
    padding-top: 25px;
    padding-bottom: 25px;
    background: url("/images/bg.png") #fafafa;
}
.bs-component h1, h2 {
    text-align: center;
}

.bs-component p {
    text-align: justify;
}

footer {
    padding-top: 20px;
    text-align: center;
}
.logos {
    bottom: 24px;
    position: absolute;
}
table.logo-footer td {
    padding-right: 15px;
    padding-left: 15px;
}
table.release-table {
    margin-left: 40px;
    width: auto;
    border-collapse: collapse;
}
table.release-table td,th {
    padding: 6px 10px 6px 10px;
    border: 1px solid gray;
}
table.release-table td.notes {
    text-align: center;
}
table.release-table tr.switch {
    background: #ededed;
}
pre.prettyprint {
    padding: 10px;
    border: 1px solid #cccccc;
}
pre.example {
    overflow: auto;
    width: 100%;
    height: 475px;
}
.multigraph {
    width: auto;
    height: 400px;
}
table.example-text {
    width: 100%;
}
h3.example-title {
    text-align: center;
}
table.examples td {
    vertical-align: text-top;
    padding-right: 20px;
}
table.examples td.navigation {
    width: 20%;
}
table.examples td.content {
    width: auto;
}
table.examples li.active a {
    color: #000;
    font-weight: bold;
}