footer {
    bottom: 24px;
    position: absolute;
}
table.logo-footer td {
    padding-right: 15px;
    padding-left: 15px;
}
table.release-table {
    margin-left: 40px;
    width: auto;
    border-collapse: collapse;
}
table.release-table td,th {
    padding: 6px 10px 6px 10px;
    border: 1px solid gray;
}
table.release-table td.notes {
    text-align: center;
}
table.release-table tr.switch {
    background: #ededed;
}
pre.prettyprint {
    padding: 10px;
    border: 1px solid #cccccc;
}
pre.example {
    overflow: auto;
    width: 100%;
    height: 475px;
}
.multigraph {
    width: auto;
    height: 400px;
}
table.example-text {
    width: 100%;
}
h3.example-title {
    text-align: center;
}
table.examples td {
    vertical-align: text-top;
    padding-right: 20px;
}
table.examples td.content {
    width: 100%;
}
