---
title: Multigraph - 
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} Interactive Data Graphs for the Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen">
    <script type="text/javascript" src="http://multigraph.github.io/download/multigraph-min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <link rel="stylesheet" href="/css/multigraph.css" media="screen">
  </head>
  <body>

      {% include nav.html %}

    <div class="container">
        <br /><br /><br /><br />

      <div class="jumbotron">
        <h1>Multigraph</h1>
          <p class="lead" style="text-indent:0.5cm;">Graphs for the Web.</p>
        <p>Multigraph is a program for creating 2-dimensional scientific data graphs on web pages. It can read data in a variety of formats, and allows you to customize the appearance of the graph. Written in JavaScript and compatible with modern web browsers, including mobile devices.</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/multigraph/js-multigraph">View on GitHub</a></p>
      </div>

        <h3>Interacting with a Multigraph</h3>

        <div class="multigraph" data-src="fill-downfill.xml" data-width="100%" data-height="200"></div>

        <p>This graph shows daily temperature data from a weather station near Asheville, NC. The blue bars represent the daily high and low temperatures – the bottom of the bar is the low for the day, and the top of the bar is the high. The green band in the background shows the official “normal” temperature range for this location. By looking at the actual daily data on top of the normal range, it’s easy to see whether weather during any given period was hotter or colder than normal.</p>

      <h3>Panning</h3>
      <p>The initial time period displayed in the graph above is the year 2012. If you want to see what happened before Jan 1 2012, just click and drag with your mouse (or finger, if you’re using a touch-screen device) to drag the graph to the right. You can also drag the graph vertically to change the temperature scale. (Whenever you start a new drag motion, Multigraph notices which orientation – horizontal or vertical – you first start dragging, and locks the motion to that orientation until you release the mouse or your finger.)</p>

      <h3>Zooming</h3>
      <p>You can also zoom in or out in the graph, by pointing the mouse cursor at an axis and rolling the mouse scroll wheel. (You don’t have to point exactly at the axis — Multigraph will zoom whichever axis the cursor is closest to.) If you’re using a touch-screen device, you can zoom by doing a two-finger pinch gesture.</p>

        <p>An alternate way of zooming is to point the mouse cursor near an axis, hold down the shift key on the keyboard, and then (while continuing to hold down the shift key), click and drag the mouse.</p>

        <h3>Creating a Multigraph</h3><a id="implement"></a>
        <p>To create an interactive graph of your own and publish it to a web site, you first write an XML file that describes the details of the graph. This XML file, in a format known as MUGL (for MUltiGraph xmL), includes things like plot styles, colors, axis dimensions, as well as the data to be plotted. You then put a line like the following in the <code>&#60;head&#62;</code> of your HTML document:</p>
    
        <pre class="prettyprint">&#60;script type="text/javascript" src="http://multigraph.github.io/download/multigraph-min.js"&#62;&#60;/script&#62;</pre>

        <p>Then, to include a graph, use this code:</p>

        <pre class="prettyprint">&#60;div class="multigraph" data-src="file.mugl" data-width="500" data-height="400"/&#62;&#60;/div&#62;</pre>
      
      <p>Then put the HTML file containing the above line, and the MUGL file that defines your graph, on a web server. That’s all there is to it. If you want, you can specify the width and height of the graph using CSS rules instead of using the <code>data-width</code> and <code>data-height</code> attributes, and it’s also possible to create and manipulate graphs using JavaScript code instead of the above HTML markup; see the <a href="#">documentation</a> for details.</p>

      <p>You can see lots of examples of graphs, and the MUGL files that generate them, in the <a href="#">Examples</a> section of this web site.</p>

      <footer>
      </footer>

{% include end.html %}
