    <h2>Examples</h2>
        <table class="examples">
            <tr>
            <td>
            <ul>
                <li{% if page.example-acis-static == "selected" %} class="active"{% endif %}><a href="acis-static.html">acis-static.xml</a></li>
                <li{% if page.example- == "selected" %} class="active"{% endif %}><a href="acis-webservice.html">[X] acis-webservice.xml</a></li>
                <li{% if page.example-axis-colors == "selected" %} class="active"{% endif %}><a href="axis-colors.html">axis-colors.xml</a></li>
                <li{% if page.example-axisbinding-tempgraph == "selected" %} class="active"{% endif %}><a href="axisbinding-tempgraph.html">axisbinding-tempgraph.xml</a></li>
                <li{% if page.example-background_image == "selected" %} class="active"{% endif %}><a href="background_image.html">background_image.xml</a></li>
                <li{% if page.example-band_graph == "selected" %} class="active"{% endif %}><a href="band_graph.html">band_graph.xml</a></li>
                <li{% if page.example-band_legend == "selected" %} class="active"{% endif %}><a href="band_legend.html">band_legend.xml</a></li>
                <li{% if page.example-bar_graph == "selected" %} class="active"{% endif %}><a href="bar_graph.html">bar_graph.xml</a></li>
                <li{% if page.example-bar_legend == "selected" %} class="active"{% endif %}><a href="bar_legend.html">bar_legend.xml</a></li>
                <li{% if page.example-constant-plot == "selected" %} class="active"{% endif %}><a href="constant-plot.html">constant-plot.xml</a></li>
                <li{% if page.example-crn-webservice == "selected" %} class="active"{% endif %}><a href="crn-webservice.html">crn-webservice.xml</a></li>
                <li{% if page.example-dashboard-aoi == "selected" %} class="active"{% endif %}><a href="dashboard-aoi.html">dashboard-aoi.xml</a></li>
                <li{% if page.example-dashboard-asi == "selected" %} class="active"{% endif %}><a href="dashboard-asi.html">dashboard-asi.xml</a></li>
                <li{% if page.example-dashboard-co2 == "selected" %} class="active"{% endif %}><a href="dashboard-co2.html">dashboard-co2.xml</a></li>
                <li{% if page.example-dashboard-ghouse == "selected" %} class="active"{% endif %}><a href="dashboard-ghouse.html">dashboard-ghouse.xml</a></li>
                <li{% if page.example-dashboard-glacier == "selected" %} class="active"{% endif %}><a href="dashboard-glacier.html">dashboard-glacier.xml</a></li>
                <li{% if page.example-dashboard-naoi == "selected" %} class="active"{% endif %}><a href="dashboard-naoi.html">dashboard-naoi.xml</a></li>
                <li{% if page.example-dashboard-ocean == "selected" %} class="active"{% endif %}><a href="dashboard-ocean.html">dashboard-ocean.xml</a></li>
                <li{% if page.example-dashboard-oni == "selected" %} class="active"{% endif %}><a href="dashboard-oni.html">dashboard-oni.xml</a></li>
                <li{% if page.example-dashboard-pnap == "selected" %} class="active"{% endif %}><a href="dashboard-pnap.html">dashboard-pnap.xml</a></li>
                <li{% if page.example-dashboard-projections == "selected" %} class="active"{% endif %}><a href="dashboard-projections.html">dashboard-projections.xml</a></li>
                <li{% if page.example-dashboard-sea == "selected" %} class="active"{% endif %}><a href="dashboard-sea.html">dashboard-sea.xml</a></li>
                <li{% if page.example-dashboard-snow == "selected" %} class="active"{% endif %}><a href="dashboard-snow.html">dashboard-snow.xml</a></li>
                <li{% if page.example-dashboard-soi == "selected" %} class="active"{% endif %}><a href="dashboard-soi.html">dashboard-soi.xml</a></li>
                <li{% if page.example-dashboard-sun == "selected" %} class="active"{% endif %}><a href="dashboard-sun.html">dashboard-sun.xml</a></li>
                <li{% if page.example-dashboard-temp == "selected" %} class="active"{% endif %}><a href="dashboard-temp.html">dashboard-temp.xml</a></li>
                <li{% if page.example-dewpoint == "selected" %} class="active"{% endif %}><a href="dewpoint.html">dewpoint.xml</a></li>
                <li{% if page.example-drought-csv == "selected" %} class="active"{% endif %}><a href="drought-csv.html">[X] drought-csv.xml</a></li>
                <li{% if page.example-drought == "selected" %} class="active"{% endif %}><a href="drought.html">[X] drought.xml</a></li>
                <li{% if page.example-fcav == "selected" %} class="active"{% endif %}><a href="fcav.html">fcav.xml</a></li>
                <li{% if page.example-fill-downfill == "selected" %} class="active"{% endif %}><a href="fill-downfill.html">fill-downfill.xml</a></li>
                <li{% if page.example-fill_graph == "selected" %} class="active"{% endif %}><a href="fill_graph.html">fill_graph.xml</a></li>
                <li{% if page.example-fotos-sst == "selected" %} class="active"{% endif %}><a href="fotos-sst.html">fotos-sst.xml</a></li>
                <li{% if page.example-geomweather == "selected" %} class="active"{% endif %}><a href="geomweather.html">geomweather.xml</a></li>
                <li{% if page.example-graph_title == "selected" %} class="active"{% endif %}><a href="graph_title.html">graph_title.xml</a></li>
                <li{% if page.example-legend == "selected" %} class="active"{% endif %}><a href="legend.html">legend.xml</a></li>
                <li{% if page.example-line-graph == "selected" %} class="active"{% endif %}><a href="line-graph.html">line-graph.xml</a></li>
                <li{% if page.example-minimal_graph == "selected" %} class="active"{% endif %}><a href="minimal_graph.html">minimal_graph.xml</a></li>
                <li{% if page.example-multigraph-logo == "selected" %} class="active"{% endif %}><a href="multigraph-logo.html">multigraph-logo.xml</a></li>
                <li{% if page.example-mymugl == "selected" %} class="active"{% endif %}><a href="mymugl.html">mymugl.xml</a></li>
                <li{% if page.example-ndvi == "selected" %} class="active"{% endif %}><a href="ndvi.html">ndvi.xml</a></li>
                <li{% if page.example-periodic-temp == "selected" %} class="active"{% endif %}><a href="periodic-temp.html">periodic-temp.xml</a></li>
                <li{% if page.example-plotarea-background-color == "selected" %} class="active"{% endif %}><a href="plotarea-background-color.html">plotarea-background-color.xml</a></li>
                <li{% if page.example-point-graph == "selected" %} class="active"{% endif %}><a href="point-graph.html">point-graph.xml</a></li>
                <li{% if page.example-pointline_legend == "selected" %} class="active"{% endif %}><a href="pointline_legend.html">pointline_legend.xml</a></li>
                <li{% if page.example-rangebar_graph == "selected" %} class="active"{% endif %}><a href="rangebar_graph.html">rangebar_graph.xml</a></li>
                <li{% if page.example-rangebar_legend == "selected" %} class="active"{% endif %}><a href="rangebar_legend.html">rangebar_legend.xml</a></li>
                <li{% if page.example-temp-precip. == "selected" %} class="active"{% endif %}><a href="temp-precip.html">temp-precip.xml</a></li>
                <li{% if page.example-tempgraph-acis-maxt-webservice == "selected" %} class="active"{% endif %}><a href="tempgraph-acis-maxt-webservice.html">[X] tempgraph-acis-maxt-webservice.xml</a></li>
                <li{% if page.example-tempgraph-csv == "selected" %} class="active"{% endif %}><a href="tempgraph-csv.html">tempgraph-csv.xml</a></li>
                <li{% if page.example-tempgraph-datetime == "selected" %} class="active"{% endif %}><a href="tempgraph-datetime.html">tempgraph-datetime.xml</a></li>
                <li{% if page.example-tempgraph == "selected" %} class="active"{% endif %}><a href="tempgraph.html">tempgraph.xml</a></li>
                <li{% if page.example-testgraph == "selected" %} class="active"{% endif %}><a href="testgraph_old.html">testgraph.xml</a></li>
            </ul>
            <ul>
                <li>New graphs, I'll sort later</li>
                <li><a href="cog_population.html">cog_population</a></li>
                <li><a href="frenchBroadFlood.html">frenchBroadFlood</a></li>
                <li><a href="frenchBroadWater.html">frenchBroadWater</a></li>
                <li><a href="los_barPopulation.html">los_barPopulation</a></li>
                <li><a href="population-waterwithdrawl.html">waterwithdrawl</a></li>
                <li><a href="populationDivorced.html">populationDivorced</a></li>
                <li><a href="povertyToFoodStampsLOS.html">povertyToFoodStampsLOS</a></li>
                <li><a href="precip_forecast.html">precip_forecast</a></li>
                <li><a href="swncTest.html">swncTest</a></li>
                <li><a href="temp_forecast.html">temp_forecast</a></li>
                <li><a href="testGraph.html">testGraph</a></li>
                <li><a href="testGraph2.html">testGraph2</a></li>
                <li><a href="testGraph3.html">testGraph3</a></li>
                <li><a href="testGraph4.html">testGraph4</a></li>
                <li><a href="testGraph5.html">testGraph5</a></li>
                <li><a href="testGraph6.html">testGraph6</a></li>
                <li><a href="unemployedToPovertyLOS.html">unemployedToPovertyLOS</a></li>
                <li><a href="waterFlow_graph.html">waterFlow_graph</a></li>
                <li><a href="wind_forecast.html">wind_forecast</a></li>
                <li><a href="wKerrScott_GageHeight.html">wKerrScott_GageHeight</a></li>
                <li><a href="yearlyYadkin.html">yearlyYadkin</a></li>
            </ul>
        </td>