    <h2>Examples</h2>
        <table class="examples">
            <tr>
            <td class="navigation">
            <ul>
                <li{% if page.example-acis-static == "selected" %} class="active"{% endif %}><a href="acis-static.html">acis-static</a></li>
                <li{% if page.example-axisbinding-tempgraph == "selected" %} class="active"{% endif %}><a href="axisbinding-tempgraph.html">axisbinding-tempgraph</a></li>
                <li{% if page.example-background_image == "selected" %} class="active"{% endif %}><a href="background_image.html">background_image</a></li>
                <li{% if page.example-bar_graph == "selected" %} class="active"{% endif %}><a href="bar_graph.html">bar_graph</a></li>
                <li{% if page.example-bar_legend == "selected" %} class="active"{% endif %}><a href="bar_legend.html">bar_legend</a></li>
                <li{% if page.example-constant-plot == "selected" %} class="active"{% endif %}><a href="constant-plot.html">constant-plot</a></li>
                <li{% if page.example-crn-webservice == "selected" %} class="active"{% endif %}><a href="crn-webservice.html">crn-webservice</a></li>
                <li{% if page.example-dashboard-aoi == "selected" %} class="active"{% endif %}><a href="dashboard-aoi.html">dashboard-aoi</a></li>
                <li{% if page.example-dashboard-asi == "selected" %} class="active"{% endif %}><a href="dashboard-asi.html">dashboard-asi</a></li>
                <li{% if page.example-dashboard-co2 == "selected" %} class="active"{% endif %}><a href="dashboard-co2.html">dashboard-co2</a></li>
                <li{% if page.example-dashboard-ghouse == "selected" %} class="active"{% endif %}><a href="dashboard-ghouse.html">dashboard-ghouse</a></li>
                <li{% if page.example-dashboard-glacier == "selected" %} class="active"{% endif %}><a href="dashboard-glacier.html">dashboard-glacier</a></li>
                <li{% if page.example-dashboard-naoi == "selected" %} class="active"{% endif %}><a href="dashboard-naoi.html">dashboard-naoi</a></li>
                <li{% if page.example-dashboard-ocean == "selected" %} class="active"{% endif %}><a href="dashboard-ocean.html">dashboard-ocean</a></li>
                <li{% if page.example-dashboard-oni == "selected" %} class="active"{% endif %}><a href="dashboard-oni.html">dashboard-oni</a></li>
                <li{% if page.example-dashboard-pnap == "selected" %} class="active"{% endif %}><a href="dashboard-pnap.html">dashboard-pnap</a></li>
                <li{% if page.example-dashboard-projections == "selected" %} class="active"{% endif %}><a href="dashboard-projections.html">dashboard-projections</a></li>
                <li{% if page.example-dashboard-sea == "selected" %} class="active"{% endif %}><a href="dashboard-sea.html">dashboard-sea</a></li>
                <li{% if page.example-dashboard-snow == "selected" %} class="active"{% endif %}><a href="dashboard-snow.html">dashboard-snow</a></li>
                <li{% if page.example-dashboard-soi == "selected" %} class="active"{% endif %}><a href="dashboard-soi.html">dashboard-soi</a></li>
                <li{% if page.example-dashboard-sun == "selected" %} class="active"{% endif %}><a href="dashboard-sun.html">dashboard-sun</a></li>
                <li{% if page.example-dashboard-temp == "selected" %} class="active"{% endif %}><a href="dashboard-temp.html">dashboard-temp</a></li>
                <li{% if page.example-dewpoint == "selected" %} class="active"{% endif %}><a href="dewpoint.html">dewpoint</a></li>
                <li{% if page.example-fill-downfill == "selected" %} class="active"{% endif %}><a href="fill-downfill.html">fill-downfill</a></li>
                <li{% if page.example-fill_graph == "selected" %} class="active"{% endif %}><a href="fill_graph.html">fill_graph</a></li>
                <li{% if page.example-fotos-sst == "selected" %} class="active"{% endif %}><a href="fotos-sst.html">fotos-sst</a></li>
                <li{% if page.example-geomweather == "selected" %} class="active"{% endif %}><a href="geomweather.html">geomweather</a></li>
                <li{% if page.example-line-graph == "selected" %} class="active"{% endif %}><a href="line-graph.html">line-graph</a></li>
                <li{% if page.example-minimal_graph == "selected" %} class="active"{% endif %}><a href="minimal_graph.html">minimal_graph</a></li>
                <li{% if page.example-multigraph-logo == "selected" %} class="active"{% endif %}><a href="multigraph-logo.html">multigraph-logo</a></li>
                <li{% if page.example-ndvi == "selected" %} class="active"{% endif %}><a href="ndvi.html">ndvi</a></li>
                <li{% if page.example-periodic-temp == "selected" %} class="active"{% endif %}><a href="periodic-temp.html">periodic-temp</a></li>
                <li{% if page.example-plotarea-background-color == "selected" %} class="active"{% endif %}><a href="plotarea-background-color.html">plotarea-background-color</a></li>
                <li{% if page.example-point-graph == "selected" %} class="active"{% endif %}><a href="point-graph.html">point-graph</a></li>
                <li{% if page.example-temp-precip == "selected" %} class="active"{% endif %}><a href="temp-precip.html">temp-precip</a></li>
            </ul>
            <ul>
                <li>New graphs, I'll sort later</li>
                <li{% if page.example-cog_population == "selected" %} class="active"{% endif %}><a href="cog_population.html">cog_population</a></li>
                <li{% if page.example-french-broad-flood == "selected" %} class="active"{% endif %}><a href="french-broad-flood.html">french-broad-flood</a></li>
                <li{% if page.example-french-broad-water == "selected" %} class="active"{% endif %}><a href="french-broad-water.html">french-broad-water</a></li>
                <li{% if page.example-income-disparity_sex == "selected" %} class="active"{% endif %}><a href="income-disparity_sex.html">income-disparity_sex</a></li>
                <li{% if page.example-los_bar-population == "selected" %} class="active"{% endif %}><a href="los_bar-population.html">los_bar-population</a></li>
                <li{% if page.example-population-divorced == "selected" %} class="active"{% endif %}><a href="population-divorced.html">population-divorced</a></li>
                <li{% if page.example-population-waterwithdrawl == "selected" %} class="active"{% endif %}><a href="population-waterwithdrawl.html">population-waterwithdrawl</a></li>
                <li{% if page.example-poverty-to-foodstamps-los == "selected" %} class="active"{% endif %}><a href="poverty-to-foodstamps-los.html">poverty-to-foodstamps-los</a></li>
                <li{% if page.example-precip_forecast == "selected" %} class="active"{% endif %}><a href="precip_forecast.html">precip_forecast</a></li>
                <li{% if page.example-swnc-test == "selected" %} class="active"{% endif %}><a href="swnc-test.html">swnc-test</a></li>
                <li{% if page.example-temp_forecast == "selected" %} class="active"{% endif %}><a href="temp_forecast.html">temp_forecast</a></li>
                <li{% if page.example-test-graph == "selected" %} class="active"{% endif %}><a href="test-graph.html">test-graph</a></li>
                <li{% if page.example-test-graph2 == "selected" %} class="active"{% endif %}><a href="test-graph2.html">test-graph2</a></li>
                <li{% if page.example-test-graph3 == "selected" %} class="active"{% endif %}><a href="test-graph3.html">test-graph3</a></li>
                <li{% if page.example-test-graph4 == "selected" %} class="active"{% endif %}><a href="test-graph4.html">test-graph4</a></li>
                <li{% if page.example-test-graph5 == "selected" %} class="active"{% endif %}><a href="test-graph5.html">test-graph5</a></li>
                <li{% if page.example-test-graph6 == "selected" %} class="active"{% endif %}><a href="test-graph6.html">test-graph6</a></li>
                <li{% if page.example-unemployed-to-poverty-los == "selected" %} class="active"{% endif %}><a href="unemployed-to-poverty-los.html">unemployed-to-poverty-los</a></li>
                <li{% if page.example-water-flow_graph == "selected" %} class="active"{% endif %}><a href="water-flow_graph.html">water-flow_graph</a></li>
                <li{% if page.example-wind_forecast == "selected" %} class="active"{% endif %}><a href="wind_forecast.html">wind_forecast</a></li>
                <li{% if page.example-wkerrscott_gage-height == "selected" %} class="active"{% endif %}><a href="wkerrscott_gage-height.html">wkerrscott_gage-height</a></li>
                <li{% if page.example-yearly-yadkin == "selected" %} class="active"{% endif %}><a href="yearly-yadkin.html">yearly-yadkin</a></li>
            </ul>
        </td>