    <h2>Examples</h2>
        <table class="examples">
            <tr>
            <td>
            <ul>
                <li class=""><a href="acis-static.html">acis-static.xml</a></li>
                <li class=""><a href="acis-webservice.html">acis-webservice.xml</a></li>
                <li class=""><a href="axis-colors.html">axis-colors.xml</a></li>
                <li class=""><a href="axisbinding-tempgraph.html">axisbinding-tempgraph.xml</a></li>
                <li class=""><a href="background_image.html">background_image.xml</a></li>
                <li class=""><a href="band_graph.html">band_graph.xml</a></li>
                <li class=""><a href="band_legend.html">band_legend.xml</a></li>
                <li class=""><a href="bar_graph.html">bar_graph.xml</a></li>
                <li class=""><a href="bar_legend.html">bar_legend.xml</a></li>
                <li class=""><a href="constant-plot.html">constant-plot.xml</a></li>
                <li class=""><a href="crn-webservice.html">crn-webservice.xml</a></li>
                <li class=""><a href="dashboard-aoi.html">dashboard-aoi.xml</a></li>
                <li class=""><a href="dashboard-asi.html">dashboard-asi.xml</a></li>
                <li class=""><a href="dashboard-co2.html">dashboard-co2.xml</a></li>
                <li class=""><a href="dashboard-ghouse.html">dashboard-ghouse.xml</a></li>
                <li class=""><a href="dashboard-glacier.html">dashboard-glacier.xml</a></li>
                <li class=""><a href="dashboard-naoi.html">dashboard-naoi.xml</a></li>
                <li class=""><a href="dashboard-ocean.html">dashboard-ocean.xml</a></li>
                <li class=""><a href="dashboard-oni.html">dashboard-oni.xml</a></li>
                <li class=""><a href="dashboard-pnap.html">dashboard-pnap.xml</a></li>
                <li class=""><a href="dashboard-projections.html">dashboard-projections.xml</a></li>
                <li class=""><a href="dashboard-sea.html">dashboard-sea.xml</a></li>
                <li class=""><a href="dashboard-snow.html">dashboard-snow.xml</a></li>
                <li class=""><a href="dashboard-soi.html">dashboard-soi.xml</a></li>
                <li class=""><a href="dashboard-sun.html">dashboard-sun.xml</a></li>
                <li class=""><a href="dashboard-temp.html">dashboard-temp.xml</a></li>
                <li class=""><a href="dewpoint.html">dewpoint.xml</a></li>
                <li class=""><a href="drought-csv.html">drought-csv.xml</a></li>
                <li class=""><a href="drought.html">drought.xml</a></li>
                <li class=""><a href="empty_titles.html">empty_titles.xml</a></li>
                <li class=""><a href="fcav.html">fcav.xml</a></li>
                <li class=""><a href="fill-downfill.html">fill-downfill.xml</a></li>
                <li class=""><a href="fill_graph.html">fill_graph.xml</a></li>
                <li class=""><a href="fotos-sst.html">fotos-sst.xml</a></li>
                <li class=""><a href="geomweather.html">geomweather.xml</a></li>
                <li class=""><a href="graph_title.html">graph_title.xml</a></li>
                <li class=""><a href="legend.html">legend.xml</a></li>
                <li class=""><a href="line-graph.html">line-graph.xml</a></li>
                <li class=""><a href="minimal_graph.html">minimal_graph.xml</a></li>
                <li class=""><a href="multigraph-logo.html">multigraph-logo.xml</a></li>
                <li class=""><a href="mymugl.html">mymugl.xml</a></li>
                <li class=""><a href="ndvi.html">ndvi.xml</a></li>
                <li class=""><a href="periodic-temp.html">periodic-temp.xml</a></li>
                <li class=""><a href="plotarea-background-color.html">plotarea-background-color.xml</a></li>
                <li class=""><a href="point-graph.html">point-graph.xml</a></li>
                <li class=""><a href="pointline_legend.html">pointline_legend.xml</a></li>
                <li class=""><a href="rangebar_graph.html">rangebar_graph.xml</a></li>
                <li class=""><a href="rangebar_legend.html">rangebar_legend.xml</a></li>
                <li class=""><a href="temp-precip.html">temp-precip.xml</a></li>
                <li class=""><a href="tempgraph-acis-maxt-webservice.html">tempgraph-acis-maxt-webservice.xml</a></li>
                <li class=""><a href="tempgraph-csv.html">tempgraph-csv.xml</a></li>
                <li class=""><a href="tempgraph-datetime.html">tempgraph-datetime.xml</a></li>
                <li class=""><a href="tempgraph.html">tempgraph.xml</a></li>
                <li class=""><a href="testgraph.html">testgraph.xml</a></li>
            </ul>
        </td>