---
title: Examples
examples: selected
---

{% include header.html %}
{% include content.html %}

{% include example-menu.html %}
        <td valign="top" align="center">
            <p>The list to the left is a collection of MUGL files defining graphs that test and demonstrate various aspects of Multigraph. You can view each file, and its associated graph, by clicking on the filename. Real examples contain actual data used to illustrate and demonstrate Multigraph.</p>
        </td>
        </tr>
    </table>

{% include end.html %}