---
title: Credits
other: selected
credits: selected
---

{% include header.html %}
{% include content.html %}

        <h3>Credits</h3>
            Multigraph was developed at UNC Asheville’s National Environmental Modeling and Analysis Center (NEMAC), with support from the National Oceanic and Atmospheric Association (NOAA) and the US Forest Service.<br /><br />

            <p>The authors are:</p>
            <ul>
                <li>Mark Phillips (<a href="mailto:mphillip@unca.edu">mphillip@unca.edu</a>)</li>
                <li>John Frimmel (<a href="mailto:jrfrimme@unca.edu">jrfrimme@unca.edu</a>)</li>
                <li>Semmy Purewal (<a href="mailto:semmypurewal@gmail.com">semmypurewal@gmail.com</a>)</li>
                <li>Danielle Betke</li>
            </ul>
            <p>Prior version contributions by:</p>
            <ul>
                <li>Devin Eldreth</li>
                <li>Egg Davis</li>
            </ul>
      <div class="logos">
          <table class='logo-footer'>
          <tr>
            <td><img src='/images/unca-200.png' alt='' /></td>
            <td><img src='/images/noaa.png' alt='' /></td>
            <td><img src='/images/usfs.jpg' alt='' /></td>
          </tr>
        </table>
      </div>

{% include end.html %}